/* Register.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    max-width: 98vw;
}

.register-container {
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.register-title {
    font-size: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid gray;
    color: green;
}

.plant-register {
    width: 10%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.social-container {
    height: 70vh;
    width: 40%;
    margin: 0 auto;
}

.signUp {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px 20px 5px;
    align-items: center;
    margin-left: 5%;
    background-image: url("https://tse2.mm.bing.net/th/id/OIG3.hLKsMibXpJngP.i_Eo3Y?pid=ImgGn");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.signUp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px 20px 5px;
    z-index: 1;
}

.signUp>* {
    position: relative;
    z-index: 2;
}


.signUp-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30%;
    gap: 2rem;
}

.signUp-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    text-align: center;
    height: 30%;
    width: 100%;
    padding: 0.5rem;
}

.signUp-content button p {
    margin-top: 30px;
}


.signUp-content P {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 10px 20px;
    color: black;
    border-radius: none;
    text-align: center;
}




.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    margin-right: 5%;
    background-color: white;
    border: 0.1px solid gray;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-control {
    padding: 10px;
    border: 2px solid green;
    border-radius: 5px 20px 5px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #80bdff;
    outline: none;
}

.or {
    text-align: center;
    margin-bottom: 0.5rem;
}



.image-preview {
    margin-top: 10px;
}

.preview-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.signUp button {
    background-color: rgba(255, 255, 255, 2);
    color: black;
}

.signUp button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.submit-button {
    padding: 10px 20px;
    background-color: #163225;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.submit-button:hover {
    background-color: #193c2c;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.goto-signIn {
    font-weight: bold;
    font-size: 1rem;
    font-family: sans-serif;
}

.goto-signIn a {
    color: green;
    text-decoration: none;
}

.goto-signIn a:hover {
    color: indigo;
    text-decoration: underline;
}

.redirect-to-login {
    font-weight: bold;
    text-align: right;
}

.redirect-to-login a {
    text-decoration: none;
    color: green;
    transition: 0.5s;
}

.redirect-to-login a:hover {
    border-bottom: 2px solid green;
    color: indigo;
    transition: 0.5s;
}

/* Media Queries for Responsive Design */
@media (max-width: 1248px) {
    .register-container {
        flex-direction: column;
        align-items: center;
    }

    .register-form {
        width: 90%;
        margin: 0 auto;
        border-radius: 0.4rem;
    }

    .social-container {
        width: 90%;
    }
}


@media (max-width: 768px) {

    .preview-image {
        width: 120px;
        height: 120px;
    }

    .submit-button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .plant-register {
        width: 20%;
    }

    .form-control {
        font-size: 12px;
    }

    .preview-image {
        width: 100px;
        height: 100px;
    }

    .submit-button {
        padding: 8px 16px;
        font-size: 12px;
    }
}